<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Portfolio</title>
    <link rel="stylesheet" href="styles.css" />
</head>

<body>

<table id="BasicInfo" width="100%" >
    <tr>
        <td style="align=left; width: 600px">
            <h1><p th:text="${myName}"></p></h1>
            <h2>Basic information: </h2>
            Date of birth: 18/04/1999 </br>
            E-mail: gorbule2@inbox.lv </br>
            Phone number: (+371) 29739884 </br>
            <h2>Education:</h2>
            <b>Basic General Education 2005-2014</b> </br>
            Daugavpils Secondary School No. 10 </br>
            <b>Lower post-secondary vocational education 2014-2018</b> </br>
            Vocational Education Competence Centre "Riga Technical College" </br>
            <i>Railway transport and organization of transportation</i></br>
            <b> Associate Degree 2018-2021</b></br>
            <i>Information and Communication Technologies: Computer network and computer system administrator</i> </br>

        </td>
        <td style="height: inherit; width: 400px">
            <div class="container" style="height: 100%; display: flex; justify-content: center;">
            <img id="my-photo" alt="Avatar" class="image" style="width:300" src="myphoto.jpg"/>
                <div class="middle">
                    <div class="text"><a href="https://www.facebook.com/profile.php?id=100006451214274">Alexandra</a>
                    </div>
                </div>
            </div>

        </td>
    </tr>
</table>
</br>
<table id="my-projects" style="width:100%">
    <tr>
        <td><h3>Project 1. FizzBuzz</h3></td>
        <td><h3>Project 2. Roman numerals</h3></td>
        <td><h3>Project 3. Third Maximal Number</h3></td>
    </tr>
    <tr>
        <td>A short program that prints each number from 1 to the inputed number.
            For each multiple of 3, print "Fizz" instead of the number.
            For each multiple of 5, print "Buzz".
            For numbers which are multiples of both 3 and 5, print "FizzBuzz".</td>
        <td>Roman numerals are represented by seven different symbols: I, V, X, L, C, D and M.
        Program the given number converts to a roman numeral.</td>
        <td>Program returns the 3rd distinct maximum number in this array.
            If the 3rd maximum does not exist, return the maximum number.</td>
    </tr>
    <tr>
        <td><img src="FizzBuzz.PNG"/></td>
        <td><img src="RomanNumber.PNG"/></td>
        <td><img src="ThirdMax.PNG"/></td>
    </tr>
</table>

<footer>
    <div class="GitUserName">
        SheGoesJava 2 </br>
        <a href="https://github.com/gorbule2">https://github.com/gorbule2</a>
    </div>
</footer>

</body>



</html>